{{>header login=true}}
<div class="petition-container">
    <p class="thanks-again">Thank you again!</p>
    <p class="comradery" style=" color: mediumblue; margin: 5px">These comrades live in your city.</p>
    <p class="comradery" style="color: mediumblue; margin-bottom: 20px">Watch out for them at your local supermarket </br>and give them a knowing smile when you see them:</p>
            <div class="comrades">
                <p>
                {{#rows}}
                    {{#if url}}
                        <a class="comrade-name" href="{{url}}" style="text-decoration: none">{{first}} {{last}}</a>
                    {{else}}   
                        <a class="comrade-no-url" style="text-decoration: none">{{first}} {{last}}</a>
                    {{/if}} 
                    {{#if age}}
                        <a class="comrade-age">{{age}}</a>
                    {{/if}} 
                <p> 
                {{/rows}}
            </div>
     {{!-- </div> --}}
</div>