{{>header login=true}}
<div class="petition-container">
    <p class="thanks-again">Thank you again!</p>
    <p class="comradery">These comrades are local to you; watch out for them at your local supermarket and give them a knowing smile:</p>
            <div class="comrades">
                <p>
                {{#rows}}
                    {{#if url}}
                        <a class="comrade-name" href="{{url}}" style="text-decoration: none">{{first}} {{last}}</a>
                    {{else}}   
                        <a class="comrade-no-url" style="text-decoration: none">{{first}} {{last}}</a>
                    {{/if}} 
                    {{#if age}}
                        <a class="comrade-age">{{age}}</a>
                    {{/if}} 
                <p> 
                {{/rows}}
            </div>
     {{!-- </div> --}}
</div>