<header>
    <div class="logo-container">
        <div id="logo" style="font-size:larger">
            Meta-Petition ✍🏼
        </div>
    </div>       
    <div class="account-header">
        <div id="user-name">
            {{#rows}}
                {{first}}
            {{/rows}}
        </div>
        <form method="POST" action='/logout'>
            <button id="nav-button" style="border:none; background-color: none;font-size:large; ">Logout</button> 
            {{>csrf}}    
        </form>
    </div>
</header>
<div class="petition-container">
    <form method="POST" id="register-container">    
    {{!-- <form method="POST" id="register-container" style="margin-top:13%">     --}}
        <p style="margin:0 0 1% 2%; text-shadow: 1px 1px 1px darkgrey; color: midnightblue">
            Edit your profile
        </p>
        <div class="form-layout">   
            <div class="input-fields">
                {{#rows}}
                <input class="reg-input" type="text" id="firstname" name="firstname" placeholder="Name" autocomplete="off" value="{{first}}">
                <input class="reg-input" type="text" id="surname" name="surname" placeholder="Surame" autocomplete="off" value="{{last}}" >
                <input class="reg-input" type="email" id="surname" name="email" placeholder="Email" autocomplete="off" value="{{email}}">
                <input class="reg-input" type="password" id="surname" name="password" placeholder="Password" autocomplete="off">
                <input class="reg-input" type="text" id="age" name="age" placeholder="Age" autocomplete="off" pattern="^[0-9]*$" value="{{age}}">
                <input class="reg-input" type="text" id="city" name="city" placeholder="City" style="margin:1% 0" autocomplete="off" pattern="^[a-zA-Z ]+$" value="{{city}}">
                <input class="reg-input" type="text" id="url" name="url" placeholder="Homepage" autocomplete="off" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&amp;//=]" style="margin:1% 0" value="{{url}}">                      
                {{/rows}}
                {{>csrf}}
                <div id="reg-actions">
                    <button name="submit" id="submit-reg">Update</button>               
                </div>
                </div>
            </div>  
    </form>
        {{#if popup}}
            {{>popup}}
        {{/if}}
</div>