<div class="petition-container">
    <h1 class="petition-header">Thank you again!</h1>
    {{!-- <div class="signed"> --}}
    <h3>Other comrades include:</h3>
            <div>
                {{#rows}}
                <h3>
                    {{#if url}}
                        <a href="{{url}}" style="padding:2px 1em; text-decoration: none; background-color: rgba(25, 25, 176, 0.774); color:whitesmoke">{{first}} {{last}}</a>
                    {{else}}   
                        <a style="padding:2px 1em; text-decoration: none; background-color: rgba(140, 86, 38, 0.774); color:whitesmoke">{{first}} {{last}}</a>
                    {{/if}} 
                    {{#if age}}
                        <a style="background-color: tomato; color:whitesmoke; padding:2px 1em">{{age}}</a>
                    {{/if}} 
                
                    {{#if city}}
                        <a href="/petition/signers/{{city}}" style="padding:2px 1em; text-decoration: none; background-color: rgb(76, 155, 76); color:whitesmoke">{{city}}</a>
                    {{/if}} 
                </h3> 
                {{/rows}}
            </div>
     {{!-- </div> --}}
</div>