{{>header login=true}}

<div class="petition-container">
    <p class="thanks-again">Thank you again!</h1>
    <p class="comradery">You are in good company, other comrades include:</p>
            <div class="comrades">
                {{#rows}}
                <p>
                    {{#if url}}
                        <a class="comrade-name" href="{{url}}" style="text-decoration: none">{{first}} {{last}}</a>
                    {{else}}   
                        <a class="comrade-no-url" style="text-decoration: none">{{first}} {{last}}</a>
                    {{/if}}
                    {{#if city}}
                        <a class="comrade-city" href="/petition/signers/{{city}}" style="text-decoration: none">{{city}}</a>
                    {{/if}} 
                    {{#if age}}
                        <a class="comrade-age">{{age}}</a>
                    {{/if}} 
                </p> 
                {{/rows}}
            </div>
</div>
